<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 d-flex flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
    <a class="navbar-brand brand-logo d-flex flex-row align-items-end" href="/">
      <h1 class="text-primary">TOEICUTE</h1>
    </a>
  </div>
  <div class="navbar-menu-wrapper d-flex align-items-stretch">
    <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
      <span class="mdi mdi-menu"></span>
    </button>
    <div class="search-field d-none d-md-block">
      <form class="d-flex align-items-center h-100" action="#">
        <div class="input-group">
          <div class="input-group-prepend bg-transparent">
            <i class="input-group-text border-0 mdi mdi-magnify"></i>
          </div>
          <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
        </div>
      </form>
    </div>
    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item nav-profile dropdown">
        <a class="nav-link dropdown-toggle" id="profileDropdown"
           (click)="isShowMenu = !isShowMenu"
           href="javascript:void(0)" data-bs-toggle="dropdown"
           aria-expanded="false">
          <div class="nav-profile-img">
            <img ngSrc="assets/images/faces/face6.jpg" alt="image" height="100" width="100">
            <span class="availability-status online"></span>
          </div>
          <div class="nav-profile-text">
            <p class="mb-1 text-black">Quản trị viên</p>
          </div>
        </a>
        <div class="dropdown-menu navbar-dropdown" [ngClass]="{'show': isShowMenu}" aria-labelledby="profileDropdown">
          <a class="dropdown-item" href="/profile">
            <i class="mdi mdi-account me-2 text-primary"></i> Profile</a>
          <a class="dropdown-item" href="javascript:;">
            <i class="mdi mdi-logout me-2 text-primary"></i> Logout</a>
        </div>
      </li>
    </ul>
    <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
            data-toggle="offcanvas">
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
