<footer class="footer">
  <div class="container-fluid d-flex justify-content-between">
    <span
      class="text-muted d-block text-center text-sm-start d-sm-inline-block">Copyright © TOEICUTE {{ date.getFullYear() }}</span>
    <span class="float-none float-sm-end mt-1 mt-sm-0 text-end text-primary">
      <a href="javascript:;" class="text-primary">TOEICUTE</a> &nbsp;|&nbsp;
      <a href="javascript:;" class="text-primary">Toeicute.com</a>
    </span>
  </div>
</footer>
