<div class="page-header d-flex justify-content-between align-items-center">
  <h3 class="page-title" [innerText]="title"> </h3>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page" [innerText]="currentPage"></li>
    </ol>
  </nav>
</div>
