<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Chỉnh sửa thông tin người dùng</h4>
      <form class="forms-sample">
        <div class="form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" [(ngModel)]="user.username"
                 placeholder="Input username">
        </div>
        <div class="form-group">
          <label>First name</label>
          <input type="text" class="form-control" name="firstname" [(ngModel)]="user.firstName"
                 placeholder="Input first name">
        </div>
        <div class="form-group">
          <label>Last name</label>
          <input type="text" class="form-control" name="lastname" [(ngModel)]="user.lastName"
                 placeholder="Input last name">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="email" class="form-control" name="email" placeholder="Input email"
                 [(ngModel)]="user.email">
        </div>
        <div class="form-group">
          <label>Gender</label>
          <select class="form-control" name="gender" [(ngModel)]="user.gender">
            <option value="null">Select gender</option>
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input type="text" class="form-control" name="phone" placeholder="Phone" [(ngModel)]="user.phone">
        </div>
        <div class="form-group">
          <label>Birthday</label>
          <input type="date" class="form-control" name="dob" placeholder="Birthday" [(ngModel)]="user.dob">
        </div>
        <div class="form-group">
          <label>Zipcode</label>
          <input type="text" class="form-control" name="zipcode" placeholder="Zipcode" [(ngModel)]="user.zipcode">
        </div>
        <div class="form-group">
          <label>Address</label>
          <textarea class="form-control" name="address" rows="4" [(ngModel)]="user.address"></textarea>
        </div>
        <button type="submit" class="btn btn-gradient-primary me-2" (click)="doUpdateUser()">Submit</button>
        <button class="btn btn-light" (click)="close()">Cancel</button>
      </form>
    </div>
  </div>
</div>
