<nav class="sidebar sidebar-offcanvas mt-2" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <a href="#" class="nav-link">
        <div class="nav-profile-image">
          <img ngSrc="assets/images/faces/face6.jpg" alt="profile" height="100" width="100">
          <span class="login-status online"></span>
        </div>
        <div class="nav-profile-text d-flex flex-column">
          <span class="font-weight-bold mb-2">ADMIN</span>
          <span class="text-small">Quản trị viên</span>
        </div>
        <i class="mdi mdi-bookmark-check text-primary nav-profile-badge"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active': navItemActive == 'dashboard'}">
      <a class="nav-link" href="/">
        <span class="menu-title">Trang chủ</span>
        <i class="mdi mdi-home menu-icon"></i>
      </a>
    </li>
    <li class="nav-item" [ngClass]="{'active' : navItemActive == 'users'}">
      <a class="nav-link" href="/user/list">
        <span class="menu-title">Quản lý người dùng</span>
        <i class="mdi mdi-account-circle menu-icon"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="collapse"
         href="javascript:;" (click)="stateMenu[0] = !stateMenu[0]">
        <span class="menu-title">Quản lý bộ đề thi</span>
        <i class="menu-arrow"></i>
        <i class="mdi mdi-database menu-icon"></i>
      </a>
      <div class="collapse" [ngClass]="{'show': stateMenu[0]}" id="ui-basic">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'topic'}">
            <a class="nav-link" href="/">
              <span class="menu-title">Danh sách</span>
            </a>
          </li>
          <li class="nav-item" [ngClass]="{'active' : navItemActive == 'addTopic'}">
            <a class="nav-link" href="">
              <span class="menu-title"> Thêm bộ đề </span>
            </a>
          </li>

        </ul>
      </div>
    </li>
  </ul>
</nav>
