<app-page-header
  [title]="this.title"
  [currentPage]="this.currentPage"
></app-page-header>
<div class="container-fluid stretch-card">
  <div class="card">
    <div class="card-body table-responsive">

      <form class="forms-sample">
        <div class="form-group d-flex flex-row">
          <label for="searchTxt" class="col-sm-1 col-form-label fw-bold">Search</label>
          <div class="col-sm-9">
            <input type="text"
                   name="textSearch"
                   [(ngModel)]="textSearch"
                   class="form-control"
                   id="searchTxt"
                   placeholder="Search by username, email, full name, phone, first name, last name"
                   (ngModelChange)="search($event)">
          </div>
        </div>
      </form>


      <table class="table table-striped table-sm table-bordered table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Username</th>
          <th>Email</th>
          <th>Full name</th>
          <th>Phone number</th>
          <th>Address</th>
          <th>Gender</th>
          <th>Birthday</th>
          <th>Avatar</th>
          <th>#</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let item of listUser">
          <tr>
            <td>{{ item?.id }}</td>
            <td>{{ item?.username }}</td>
            <td>{{ item?.email }}</td>
            <td>
              {{ item?.firstName }} {{ item?.lastName }}
            </td>
            <td>{{ item?.phoneNumber }}</td>
            <td [title]="item?.address" style="max-width: 100px;" class="text-truncate">{{ item?.address }}</td>
            <td>{{ item?.gender }}</td>
            <td>{{ item?.dob }}</td>
            <td>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrk71CKQuD4Xhlxy-2XdH03p3XtlBQHMvn1g&s"
                   alt="img">
            </td>
            <td class="template-demo">
              <button class="btn btn-outline-danger text-capitalize btn-sm" (click)="openFormEdit(item)">
                Edit
              </button>
              <button class="btn btn-secondary text-capitalize btn-sm" (click)="doDelete(item.id)">
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
