<div class="container mt-3">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <input type="file" name="" id="" class="d-none" #fileInput>
              <div class="dropdown" (mouseenter)="showDropdown = true" (mouseleave)="showDropdown = false">
                <a href="javascript:;" class="dropdown-toggle" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                  <img
                    [ngSrc]="avatarSrc"
                    title="click vào để xem ảnh đại diện" [alt]="'img'"
                    class="p-1 bg-primary rounded-circle nav-link dropdown-toggle" role="button"
                    width="110" height="110" style="object-fit: contain;">
                </a>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-start align-items-center flex-wrap">
                <button class="p-2 border-info rounded fs-6" (click)="isTabInfo = true">
                  Change Information
                </button>
                <button class="p-2 border-secondary rounded fs-6 ms-2" (click)="isTabInfo = false">
                  Change Password
                </button>
              </li>

            </ul>
          </div>
        </div>
      </div>
      @if (isTabInfo) {
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Username</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="username" class="form-control" [(ngModel)]="currentUser.username">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone number</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="phone" [(ngModel)]="currentUser.phoneNumber">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Gender</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="gender" [(ngModel)]="currentUser.gender">
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Address</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="address" [(ngModel)]="currentUser.address">
                </div>
              </div>

              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Date of birth</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="dob" [(ngModel)]="currentUser.dob">
                </div>
              </div>
              <div class="row justify-content-center">
                <button class="btn btn-primary col-3" (click)="updateInfo()">Save</button>
              </div>
            </div>
          </div>
        </div>
      } @else {
        <div class="col-lg-8">
          <div class="card">
            <div class="card-body">
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">Current password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" class="form-control" name="oldpassword" [(ngModel)]="paramPassword.oldPassword">
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-sm-3">
                  <h6 class="mb-0">New password</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  <input type="text" name="newpassword" class="form-control" [(ngModel)]="paramPassword.newPassword">
                </div>
              </div>

              <div class="row justify-content-center">
                <button class="btn btn-primary col-3">Save</button>
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
